<header class="headerRow">
  <img src="assets/images/spaceNewsLogo.png" alt="space news logo">
  <a href="/saved">
    <div id="savedArticlesButton" class="headerButton">Saved Articles</div>
  </a>
  <div id="scrapeButton" class="headerButton">Fetch Articles</div>
</header>

<div class="articlesContainer" id="articles">
  <!--Article contents get rendered in by app.js-->
</div>

<script src="/assets/javascript/app.js"></script>