<div>
  <h1>Space News</h1>
</div>

<a href="/saved">Saved Articles</a>
<button id="scrapeButton">Scrape Articles</button>

<div class="articlesContainer" id="articles">
  <!--Article contents get rendered in by app.js-->
</div>

<script src="/assets/javascript/app.js"></script>