<h1>Page Body</h1>
<a href="./scrape" target="_blank">Scrape</a>
<br>
<a href="./api/articles" target="_blank">Articles</a>

<div id="articles">
  <!--Article contents get rendered in by app.js-->
</div>