<header class="headerRow">
  <img src="assets/images/spaceNewsLogo.png" alt="space news logo">
  <a href="./">
    <div id="homeButton" class="headerButton">Home</div>
  </a>
</header>

<div class="articlesContainer">
  <!--Article contents get rendered in by saved.js-->
</div>

<div id="modalPageBackground" class="modalBackground">
  <div class="modalWindow">
    <span id="closeModal" class="close">&times;</span>
    <div id="modalContent">
      <!--Modal contents get rendered in by saved.js-->
    </div>
  </div>

</div>

<script src="/assets/javascript/saved.js"></script>