<div>
  <h1>Space News - Saved Articles</h1>
</div>

<!--<button id="scrapeButton">Scrape Articles</button>-->

<a href="./">home</a>

<div class="articlesContainer">
  <!--Article contents get rendered in by app.js-->
</div>

<script src="/assets/javascript/saved.js"></script>