<header class="headerRow">
  <img src="assets/images/spaceNewsLogo.png" alt="space news logo">
  <a href="./">
    <div id="homeButton" class="headerButton">Home</div>
  </a>
</header>

<div class="articlesContainer">
  <!--Article contents get rendered in by app.js-->
</div>

<script src="/assets/javascript/saved.js"></script>