body {
  font-family: 'Lalezar', cursive;
  background-color: whitesmoke;
  margin: 0;
}
.headerRow {
  width: 100%;
  background-color: black;
  border-bottom: 5px solid whitesmoke;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  height: 100px;
}

.headerRow > img {
  width: 100px;
  display: inline;
  float: left;
}

.headerButton {
  float: left;
  height: 50px;
  line-height: 50px;
  width: 140px;
  text-align: center;
  margin: 25px 10px;
  color: white;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid black;
}

.headerButton:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  border: 1px solid #888888;
}

#savedArticlesButton, #homeButton {
  background-color: rgba(0, 102, 255, 0.3);
}

#savedArticlesButton:hover , #homeButton:hover {
  background-color: rgba(0, 102, 255, 0.5);
}

#scrapeButton {
  background-color: rgba(0, 153, 51, 0.3);
}

#scrapeButton:hover {
  background-color: rgba(0, 153, 51, 0.5);
}

.articlesContainer {
  max-width: 980px;
  border: 1px solid #888888;
  background-color: #666666;
  border-radius: 4px;
  padding: 10px;
  margin: 0 auto;
}

.article {
  background-color: white;
  border: 1px solid #888888;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  padding: 15px 40px 15px 15px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.imageContainer {
  float: left;
  width: 25%;
}

.articleImage {
  margin: 0 auto;
  display: block;
  width: 100%;
  border-radius: 4px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.articleDetailsContainer {
  padding-left: 4%;
  float: left;
  width: 70%;
}

.saveButton, .deleteArticleButton {
  position: absolute;
  right: 5px;
  top: 5px;
}

.notesButton {
  position: absolute;
  right: 5px;
  top: 40px;
}

.articleDetailsContainer > a {
  text-decoration: none;
  clear: both;
}

.articleDetailsContainer > a > h2 {
  margin: 0;
}

.articleDetailsContainer > h3 {
  margin: 0;
}

#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}