body { background-color: #F2F6D0 }
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  border: 1px solid #888888;
  border-radius: 4px;
  padding: 10px;
}

.article {
  border: 1px solid #888888;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
}

.imageContainer {
  float: left;
  height: 100%;
}

.articleImage {
  width: 200px;
}

.article > a {
  text-decoration: none;
  clear: both;
}

.article > a > h2 {
  margin: 0;
}

.article > h3 {
  margin: 0;
}


#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}